.video-list {
  display: grid;
  grid-template-columns: repeat(4, 200px); /* Crea 4 columnas de igual ancho */
  gap: 30px; /* Espacio entre los elementos */
  background-color: rgb(39, 35, 35);
  justify-content: center;
}
