.video-list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 30px;
  gap: 30px;
  background-color: #272323;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}
